/* our popular tours section styles */

.tours {
  display: flex;
  max-width: 1250px;
  margin: 70px auto;
  gap: 4%;
}
.info-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 20px;
}
.img-container {
  width: 48%;
}
.info-details {
  padding-left: 20px;
}
.info-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.info-des,
.info-details {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
#btn-readmore {
  width: 170px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

/* Choose our destination section styles here */

.choose-destination {
  max-width: 1250px;
  margin: 70px auto;
}

.destination {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.destination-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin: 25px auto;
}
.destination-des {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.choose-place {
  margin-top: 70px;
}
.row {
  display: grid;
  gap: 2%;
  height: 300px;
}
.row1 {
  grid-template-columns: 49% 49%;
  margin-bottom: 20px;
}
.row2 {
  grid-template-columns: 29% calc(47% - 2%) 22%;
  margin-bottom: 20px;
}

.row3 {
  grid-template-columns: 39% 59%;
  margin-bottom: 20px;
}
.maldives {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 5.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.indonesia {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 8.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.srilanka {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 6.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.north-america {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 7.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.kashmir {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 9.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.bangladesh {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 11.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.bandarban {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 10.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* why choose us section styles */
.choose-us {
  max-width: 1250px;
  margin: 70px auto;
}
.choose-why {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
.choose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.choose-container-info {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}
.choose-container-des {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: 800px;
}
.choose-for {
  width: 48%;
  margin-top: 2%;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#choose-for {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-for-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 16px;
  margin-bottom: 16px;
}

.choose-for-des {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* Deals and Discount section styles */
.deals-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.deals {
  max-width: 1250px;
  margin: 70px auto;
}
.deals-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.deals-des {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 25px;
}
.deals-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  margin: 30px auto;
  max-width: 700px;
}

.deals-items {
  display: flex;
  list-style: none;
  gap: 10px;
}
.deals-where {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.deals-summary {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.deals-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}
.deals-items > li {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.primary-color {
  color: #ff5400;
}
.deals-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  width: 100%;
  border-radius: 16px;
  background: url("../Images/Group\ 39.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
#deals-discount{
  transform: scaleX(-1);
}

.deals-book {
  padding: 40px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 40px;
  width: 90%;
  max-width: 450px;
  max-height: 470px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
#deals-book {
  transform: scaleX(-1);
} 

/* A perfect place to get lost styels */
.video-container {
  width: 50%;
}
.info-details > li > b {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.video-container > video {
  width: 100%;
  height: 90%;
  border-radius: 16px;
  object-fit: cover;
}

/* newsletter section styles */
.newsletter {
  display: flex;
  gap: 2%;
  max-width: 1250px;
  margin: 0 auto;
}
.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 3%;
  border: 1px solid #ff5400;
  width: 40%;
}
.newsletter-subscribe > input {
  padding: 16px 20px;
  border-radius: 8px;
  margin-bottom: 24px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}
.newsletter-subscribe > hr {
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 25px;
  margin-top: 25px;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.newsletter-des {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 26px;
}
.newsletter-img {
  width: 58%;
  position: relative;
}
.newsletter-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.discount {
  /* width: 45%;
  height: 30%; */
  padding: 20px;
  position: absolute;
  transform: rotate(-19.628deg);
  right: 10px;
  bottom: 50px;
  border-radius: 16px;
  border: none;
  background: #ff5400;
}
.discount-web {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.discount-70 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
/* footer section style  */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 70px 0;
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
}
.social {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}
.social li a {
  color: #131318;
  text-decoration: none;
  font-size: 25px;
}
footer > hr {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-des {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 700px;
  margin-top: 25px;
  padding: 0 3%;
}
.reserved {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}

/* extra section feedback styles here */

.feedback {
  max-width: 1250px;
  margin: 70px auto;
  text-align: center;
}
.feedback-feedback {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feedback-talk {
  padding: 16px;
  /* border: 2px solid green; */
  border-radius: 16px;
  max-width: 30%;
  min-width: 400px;
  box-shadow: 5px 5px 15px 5px rgba(12, 45, 255, 0.2);
}
.feedback-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.feedback-des {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 30px auto;
  max-width: 700px;
}
.feedback-name {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 10px auto;
}
.feedback-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.feedback-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
}
