@media screen and (max-width: 600px) {
  /* nav and banner related styles */
  .nav-links {
    display: none;
  }
  .banner-search {
    flex-direction: column;
    max-width: 500px;
  }
  /* our popular tour section styles */
  .tours{
    flex-direction: column;
    gap: 20px;
  }
  .info-container {
    width: 100%;
  }
  .img-container {
    width: 100%;
  }
  /* Choose your destination section styles */
  
  .row{
    display: block;
    height: auto;
  }
  .destination{
    height: 300px;
    margin-bottom: 20px;
  }
  
}
